body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  text-align: center;
  color: #888;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto; /* Centers the form horizontally */
}

label {
  margin-bottom: 5px;
  display: block; /* Makes labels appear on their own line */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
input[type="email"],
input[type="password"] {
  width: 378px;
  height: 33px;
  background-color: #333333;
  border: 1px solid #ccc;
  color: white;
}

input[type="submit"] {
  background-color: #4caf50; /* Green color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; /* Changes cursor on hover */
}

input[type="submit"]:hover {
  background-color: #45a049; /* Darker green on hover */
}
