.jobdetail-container {
  display: flex;
}

.jobdetail-sidebar {
  width: 5%;
}

.jobdetail-content {
  width: 80%; /* Ajusta para ocupar todo o espaço restante */
  padding: 20px;
}

.jobdetail-categories {
  display: flex;
  flex-direction: column;
}

.jobdetail-category {
  margin-bottom: 40px;
}

.jobdetail-category h2 {
  margin-bottom: 20px;
}

.jobdetail-cards {
  display: grid;
  grid-template-columns: 1fr; /* Exibe os cards em uma única coluna */
  gap: 15px; /* Espaçamento entre os cards */
  align-items: start; /* Alinha os cards ao topo */
}

/* Estilos para o carregamento */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px; /* Define uma altura mínima */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4b6efc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
