.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60px;
  background-color: #1a1a1a;
}

.icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.icones svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.icones a {
  text-decoration: none;
}
